[Desktop Entry]
Name=Evolution
Name[en_US]=Evolution
Name[zh_CN]=邮箱
GenericName=Groupware Suite
GenericName[en_US]=Groupware Suite
GenericName[zh_CN]=个人管理工具
X-GNOME-FullName=Evolution Mail and Calendar
Comment=Manage your email, contacts and schedule
Comment[en_US]=Manage your email, contacts and schedule
Comment[zh_CN]=管理个人邮件，联系人，日历
Keywords=email;calendar;contact;addressbook;task;
Actions=new-window;compose;contacts;calendar;mail;memos;tasks;
Exec=(LANG=en_US.utf8; evolution &) && sleep 5 && kdocker -q -x $(ps -A|grep evolution$|awk {'print $1;'})
Icon=evolution
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.44.x
X-GNOME-Bugzilla-OtherBinaries=evolution-addressbook-factory;evolution-calendar-factory;evolution-source-registry;evolution-user-prompter;
X-GNOME-UsesNotifications=true
X-Flatpak-RenamedFrom=evolution
MimeType=text/calendar;text/x-vcard;text/directory;application/mbox;message/rfc822;x-scheme-handler/mailto;x-scheme-handler/webcal;x-scheme-handler/calendar;x-scheme-handler/task;x-scheme-handler/memo;
X-Ubuntu-Gettext-Domain=evolution

[Desktop Action new-window]
Name=New Window
Exec=evolution -c current

[Desktop Action compose]
Name=Compose a Message
Exec=evolution mailto:

[Desktop Action contacts]
Name=Contacts
Exec=evolution -c contacts

[Desktop Action calendar]
Name=Calendar
Exec=evolution -c calendar

[Desktop Action mail]
Name=Mail
Exec=evolution -c mail

[Desktop Action memos]
Name=Memos
Exec=evolution -c memos

[Desktop Action tasks]
Name=Tasks
Exec=evolution -c tasks
