#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Deepin WINE Team
Icon=com.qq.weixin.deepin
Exec="/opt/apps/com.qq.weixin.deepin/files/run.sh" -f %f
Name=WeChat
Comment=Deepin Wine WeChat Client
StartupWMClass=WeChat.exe
MimeType=
X-Desktop-File-Install-Version=0.26
Name[en_US]=WeChat
Name[zh_CN]=微信
GenericName=Instant Messaging
GenericName[en_US]=Instant Messaging
GenericName[zh_CN]=个人即时通讯
Comment[en_US]=Deepin Wine WeChat Client
Comment[zh_CN]=腾讯微信深度版
Categories=Network;
